* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    background-color: #c2ac90;
    margin: 0%;
    height: 90px;
}

header img {
    position: fixed;
    top: 1%;
    left: 8%;
}

h1 a {
    text-decoration: none;

}

h1 a:hover {
    color: inherit;
    opacity: .4;
}

h1 a:visited {
    color: inherit;
}


body {
    font-family: 'Petit Formal Script', cursive;
}

.social-media {
    float: right;
}

.fab {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-instagram {
    background: #125688;
    color: white;
}


ul li a {
    text-decoration: none;

}

ul li a:hover {
    color: inherit;
    opacity: .4;
}

ul li a:visited {
    color: inherit;
}

li {
    list-style: none;
    display: inline;
    padding: 10px;
}

input {
    width: 30%;

}

button:hover {
    opacity: .4;
}

footer {
    background-color: #c2ac90;
}